<h1>New Membership</h1>

<form action="/create_membership">
  <div>
    <label for="robber_id">robber_id</label><br />
    <input id="robber_id" name="robber_id" type="text" />
  </div>
  <div>
    <label for="gang_id">gang_id</label><br />
    <input id="gang_id" name="gang_id" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

