<h1>New Gang for <%= @robber.name %></h1>
<form action="/create_membership">
  <input type="hidden" name="robber_id" value="<%= @robber.id %>">
  <div>
    <div>
      <label for="gang_id">Gang</label><br />
      <select name="gang_id">
        <% @gangs.each do |gang| %>
        <option value="<%= @gang.id %>"><%= gang.name %></option>
        <% end %>
      </select>
    </div>
  </div>
  <div>
    <input type="submit">
  </div>
</form>