<h1>New Robber for <%= @gang.name %></h1>
<form action="/create_membership">
  <input type="hidden" name="gang_id" value="<%= @gang.id %>">
  <div>
    <div>
      <label for="robber_id">Robber</label><br />
      <select name="robber_id">
        <% @robbers.each do |robber| %>
        <option value="<%= @robber.id %>"><%= robber.name %></option>
        <% end %>
      </select>
    </div>
  </div>
  <div>
    <input type="submit">
  </div>
</form>