<h1>New Robbery</h1>

<form action="/create_event">
  <div>
    <label for="robber_id">Robber</label><br />
    <select name="robber_id">
      <% @robbers.each do |robber| %>
    <option value="<%= robber.id %>"><%= robber.name %></option>
    <% end %>
    </select>
  </div>
  <div>
    <label for="bank_id">Bank</label><br />
    <select name="bank_id">
    <% @banks.each do |bank| %>
    <option value="<%= bank.id %>"><%= bank.name %></option>
    <% end %>
    </select>
  </div>
  <div>
    <input type="submit">
  </div>
</form>

