<h1>New Event</h1>

<form action="/create_event">
  <div>
    <label for="bank_id">bank_id</label><br />
    <input id="bank_id" name="bank_id" type="text" />
  </div>
  <div>
    <label for="robber_id">robber_id</label><br />
    <input id="robber_id" name="robber_id" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

