<h1>New Gang</h1>

<form action="/create_gang">
  <div>
    <label for="name">name</label><br />
    <input id="name" name="name" type="text" />
  </div>
  <div>
    <label for="lord">lord</label><br />
    <input id="lord" name="lord" type="text" />
  </div>
  <div>
    <input type="submit">
  </div>
</form>

